body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.construction-container {
  background-image: url("/img/fondo2.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Utiliza min-height para asegurar que el contenedor se extienda al menos hasta la altura de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea los elementos en el espacio disponible */
  align-items: center;
  position: relative;
}

header,
footer {
  background: linear-gradient(to right, gray, black);
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
}

header img {
  width: 250px;
  height: auto;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.text {
  width: 50%;
  padding: 20px;
}

.text h1 {
  font-size: 3em; /* Ajustar el tamaño del título */
  margin-bottom: 20px;
  color: #333; /* Color del título */
  padding: 10px 20px; /* Agregar relleno alrededor del título */
  z-index: 1; /* Asegurar que esté en primer plano */
}

.text p {
  font-size: 1.5em; /* Ajustar el tamaño del texto */
  margin-bottom: 40px;
  color: #555; /* Color del texto */
  z-index: 1; /* Asegurar que esté en primer plano */
}

.image {
  width: 50%;
}

.image img {
  max-width: 100%;
  height: auto;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .text,
  .image {
    width: 100%;
  }

  header img {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  header img {
    width: 150px;
  }
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #b3b3b3;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
