/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: "Poppins", sans-serif; /* Fuente de Google Fonts */
  background-color: #f2f2f2; /* Color de fondo */
  color: #333; /* Color de texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Color de fondo del contenedor */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

header,
footer {
  background-color: #333; /* Color de fondo del encabezado y pie de página */
  padding: 20px;
  text-align: center;
  width: 100%;
}

header img {
  max-width: 200px; /* Tamaño máximo del logo */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

main img {
  max-width: 100%; /* Tamaño máximo de la imagen */
  height: auto;
}

@media screen and (min-width: 768px) {
  /* Media query para pantallas más grandes */
  main {
    flex-direction: row;
  }

  h1,
  p {
    margin-right: 20px; /* Espacio entre el título y el texto */
  }
}
